body {
    background: blue;
    font-family: fantasy;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
  }samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
  }