body {
    background:#87CEEB;
    font-family: fantasy;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;

  }samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
  }
  .div {position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.img {
    display: block;
    position: relative;
    width: 100%;
    top: -20%;
    height: 120%;
    will-change: scroll-position;
    pointer-events: none;
    object-fit: cover;
    margin: 0;
}
h1,
h2,
h3,
p
 {
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
 .header-top  .logo {
  position: relative;
  display: table;
  pointer-events: auto;
  float: left;
  z-index: 99999;
  top: 5px;
}